<h1>Users</h1>

<p>This component demonstrates fetching users from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' *ngIf="users">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.firstName}}</td>
            <td>{{ user.lastName }}</td>
        </tr>
    </tbody>
</table>
